@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: diablofont;
  src: url("./assets/fonts/Diablo-Light.ttf");
}

body{
  overflow: hidden;
}

.font-Diablo{
  font-family: "diablofont";
}

